@charset "utf-8";

/* :root {

} */

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.vertically-center {
  display: flex;
  justify-content: center;
}

.horizontally-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ========================Header======================== */

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dark filter */
header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.524);
  content: "";
}

header>.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-div {
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

/* Site title */
.nav-bar-div>a:first-child {
  font-size: 2.6rem;
  font-weight: 950;
}

nav ul li {
  display: inline;
  font-weight: 500;

  a:hover {
      transition: 0.2s ease-in-out;
      color: var(--button-orange);
  }
}

nav ul li+li {
  margin-left: 3.5rem;
}

.fa-bars {
  display: none;
}

.header-center-content {
  width: 100%;
  height: 92%;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  z-index: 9999;

  h1 {
      font-size: 5.5rem;
  }

  button {
      margin-top: 1.4rem;
      width: 15rem;
      height: 5rem;
      border-radius: var(--border-radius-small);
      color: #fff;
      background-color: var(--button-orange);

      &:hover {
          transition: 0.2s ease-in-out;
          background-color: rgb(250, 96, 53);
      }
  }
}

/* ========================Map Section======================== */

.map-section {
  height: 40rem;
  /* .container {

  } */
}

.map-element {
  width: 100%;
  height: 30rem;
  background-color: black;
}

/* ========================Footer======================== */
footer {
  height: 5.5rem;
  background-color: gray;
  .container {
      height: 100%;
      align-items: center;
  }
  ul li {
      display: inline;
      font-size: 2rem;
  }
  ul li + li {
      margin-left: 1.7rem;
  }
}